@CHARSET "UTF-8";

#common_logo img{
   max-width: 450px;
   height: auto;
}

body{
	background:"../img/background.jpg";
}

/*ボタン*/
input.common_button{
	margin: 10px 0px 10px 0px;
	font-size: 20px;
	padding: 5px 15px 5px 15px;
	background-color: #00880B;
	color: #ffffff;
	box-shadow: 2px 2px 3px 1px #444444;
	-moz-box-shadow: 2px 2px 3px 1px #444444;
	-webkit-box-shadow: 2px 2px 3px 1px #444444;
}
input.common_button:hover {
	background: #00FF15;
	color: #ffffff;
}
input.common_.button:active {
	background: ##00FF15;
	color: #ffffff;
}
/*ボタンここまで*/

/*ダイアログの×を消す*/
.no-close .ui-dialog-titlebar-close {
	display: none;
}
