@CHARSET "UTF-8";
body{
	font-weight:bold;
	position:absolute;
	height:670px;
	width:1000px;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	margin:auto;
	font-size:18px;
}

/*相手のエリア*/
#enemy_area{
	top:0px;
	left:50px;
	position:absolute;
	background-color:#ffff95;
	width:310px;
	height:60px;
	text-align:center;
	vartical-align:middle;
}
/*相手の画像を表示する場所*/
#enemy_img_frame{
	width:50px;
	height:50px;
	vartical-align:middle;
	text-align:center;
}

/*相手の画像*/
#enemy_img{
	padding-top:15px;
	width:auto;
	height:auto;
	max-height:50px;
	max-width:50px;
	vartical-align:middle;
}

#enemy_display{
	width:3em;
}


#enemy_stone{
	height:20px;
	width:20px;
}

/*手番表示エリア*/
#turn{
	width:150px;
	text-align:center;
	border: 4px double #ddd;
	position:absolute;
	top:20px;
	left:425px;
	background-color:#ffff95;
}

/*チャットエリア*/
#chat_area{
	clear;
	position:absolute;
	width:375px;
	height:650px;
	border: 4px double #ddd;
	left:590px;
}

/*チャットエリアの表示内*/
iframe{

	width:370px;
	height:610px;
}

/*送信される文字枠t*/
#send_text{
	width:310px;
}
/*送信ボタン*/
#send_button{
	line-height: 25px;
	width:50px;
	height:30px;
	padding:0px;
	margin:0px;
}
/*オセロエリア*/
#othello_area{
	border:15px solid #000;
	position:absolute;
	top:75px;
	left:50px;
}

/*とりあえずでおいてる石置きボタン*/
#othello_place1{
	height:50px;
	width:50px;
	position:absolute;
	top:255px;
	left:130px;
	 background: url(../img/othello_place.jpg);
	 background-size:cover;
}

#othello_place2{
	height:50px;
	width:50px;
	position:absolute;
	top:130px;
	left:255px;
	background: url(../img/othello_place.jpg);
	background-size:cover;
}
#othello_place3{
	height:50px;
	width:50px;
	position:absolute;
	top:318px;
	left:193px;
	background: url(../img/othello_place.jpg);
	background-size:cover;
}

#othello_place4{
	height:50px;
	width:50px;
	position:absolute;
	top:195px;
	left:318px;
	background: url(../img/othello_place.jpg);
	background-size:cover;
}

/*とりあえずで置いてるオセロ盤画像*/
#othello_img{
	width:500px;
	height:500px;
	background-size:cover;
	background-image:url(../img/othello_board.jpg);
}
/*保留
#othello_canv{
	width:500px;
	height:500px;
	border:4px solid #000;
}
*/

/*ボタン表示エリア*/
#button_area{
	position:absolute;
	left:50px;
	top:605px;
}

/*自分の情報表示エリア*/
table#myself_area{
	position:absolute;
	top:605px;
	left:270px;
	width:310px;
	height:50px;
	text-align:center;
	background-color:#ffff95;
}
/*自分のニックネーム表示エリア*/
/*marginで位置を指定してね*/
#myself_nickname{
	position: relative;
    top: 5px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
/*marginで位置は調整してね*/
#myself_stone_color{
	position: relative;
    top: -5px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
/*marginで以下略*/
img#myself_img{
	width:auto;
	height:auto;
	max-height:50px;
	max-width:50px;
    position: relative;
    top: 2px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

}

/*自分の画像のテーブル*/
th#myself_img_frame{
	width:60px;
	height:60px;

}

/*自分の石の色*/
#myself_stone{
	height:20px;
	width:20px;

}

/*自分の表示画像*/



/*投了ボタン*/
#resign_button{
	width:100px;
	font-size:15px;
	padding:0px;
	margin:0px;
}
/*スキップボタン*/
#skip_button{
	width:100px;
	font-size:15px;
	padding:0px;
	margin:0px;
}
/*退出ボタン*/
#leaving_button{
	width:100px;
	font-size:15px;
	padding:0px;
	margin:0px;
}

.myself{
	color:#000080;
}
.enemy{
	color:#008000;
}
