@CHARSET "UTF-8";
#game_map img{
	z-index:0;
	position: absolute;
	top: 1px;
	height:510px;
	width:1060px;
	left:0px;
}

.game_name {
	position: absolute;
	top: 220px;
	left:625px;
	height:90px;
	width:80px;

}
div#main{
	position:absolute;
	top: 100px;
	right: 0px;
	bottom: 0px;
  	left: 0px;
  	margin: auto;
  	margin-top:0px;
	border: 1px solid #444444;
	border-right-width: 5px;
	border-bottom-width: 5px;
	width:1060px;
	height:510px;
}
