@CHARSET "UTF-8";


/*bodyレイアウト*/
.main {
    width: 100%;
}

body{
	text-align: center;
	font-size: 18px;
}

.main div{
	width: 80%;
	margin: 20px auto;
}

div.main_contents{
	width: 500px;
	text-align: left;
	border: 1px solid #444444;
	border-right-width: 5px;
	border-bottom-width: 5px;
	padding: 0px 100px 20px 100px;
	background: #FAFAFA;
}

h1.title{
	text-align: center;
	border-bottom: 3px solid #444444;
}
/*bodyレイアウトここまで*/


/*フォームレイアウト*/
table{
	border-collapse:collapse;
	width:100px;
	table-layout:fixed;
}

td, th{
	width:280px;

}

label{
	font-weight:bold;
	margin: 0px 0px 0px 2px;
}

input.input_area{
	width: 260px;
}

input.input_file{
	width:310px;
}

input.file_button{
	width:265px;
}

.img_view{
	width:auto;
	height:auto;
	max-width:200px;
	max-height:200px;
}

span{
	font-size: 80%;
	color: #111111;
}

td.img_form{
	height: 270px;
}

td.form, td.img_form{
	padding: 10px 0px 10px 0px;
}

td.text{
	vertical-align: bottom;
}

td.img_text{
	vertical-align: middle;
}

div.img{
	display: table-cell;
	width: 200px;
	height: 200px;
	text-align: center;
	vertical-align: middle;
}

p.error_msg{
	text-align: center;
	color: red;
}

p.back_msg{
	text-align: center;
}
/*フォームレイアウトここまで*/


/*ボタン*/
p.submit{
	text-align: center;
}
/*ボタンここまで*/
