@CHARSET "UTF-8";

table{
	width:500px;
	background: #99FFFF;

}
thead {
  display: block;
  width:500px;

}
tbody#log{
	 display: block;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 455px;
  width:517px;
}
table.user_profile{
	position:absolute;
	top:70px;
	left:10px;
opacity:0.9;
	border: 1px #404040 solid;
	font-weight:bold;
	font-size:13px;
}
table.user_profile td{
	border: 1px #404040 solid;
	font-size:20px;
	text-align:center;
}
table.user_profile td.user_data{
	border: 1px #404040 solid;
	width:220px;
	text-align:center;
	font-size:18px;
}
td#user_icon_area{

	height:300px;
	width:500px;
}
img#user_icon_data{
	position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
	width:auto;
	height:auto;
	max-width:200px;
	max-height:200px;


}
p#info_1{
	position:absolute;
	top:-10px;
	left:15px;
	border-bottom:solid;
	width:480px;
	font-size:30px;
}

p#info_2{
	position:absolute;
	top:450px;
	left:15px;
	border-bottom:solid;
	width:480px;
	font-size:30px;
}
p#info_3{
	position:absolute;
	top:-10px;
	left:535px;
	border-bottom:solid;
	width:510px;
	font-size:30px;
}

p#capture_1{
	position:absolute;
	top:480px;
	left:175px;
	font-weight:bold;
}
p#capture_2{
	position:absolute;
	top:20px;
	left:725px;
	font-weight:bold;
}

table.user_battle_result{
	opacity:0.9;
	position:absolute;
	 top:530px;
	 left:10px;
	 border: 1px #404040 solid;
	 font-weight:bold;
}
table.user_battle_result td{
	border: 1px #404040 solid;
	font-size:18px;
	text-align:center;
}

td#user_id_info{
	width:70px;
	font-size:18px;
}
td#user_name_info{
	width:55px;
	font-size:18px;
}



td.title{
	opacity:0.8;
	background:  #00CCCC;

}
th.title{

	background:#00CCCC;

}

td.log_title{
	font-size:18px;
}


div#main{
	position:absolute;
	top: 100px;
	right: 0px;
  	left: 0px;
  	bottom:0px;
  	margin: auto;
  	margin-top:0px;
	border: 1px solid #444444;
	border-right-width: 5px;
	border-bottom-width: 5px;
	width:1060px;
	height:580px;
	background:#FAFAFA;

}


table.user_battle_log{
	opacity:0.9;
	border: 1px #404040 solid;
	font-weight:bold;
	position:absolute;
	top:70px;
	left:530px;
	width:520px;
	height:470px;
}
td.enemy_name{
	font-size:18px;
	width:310px;
}

td.days{
	width:120px;
	font-size:18px;
}
td.result{
	width:60px;
}
table.user_battle_log td{
	border: 1px #404040 solid;
	text-align:center;
}
table.user_battle_log th{
	border: 1px #404040 solid;
	text-align:center;
}


tr.even{
	background:##CCFFFF;
}
tr.odd{
	background:#33EEEE;
}

th.days{
	width:120px;
	font-size:18px;
}
th.result{
	width:60px;
}
th.enemy_name{
	font-size:18px;
	width:310px;
}